output/
output.zip
tmp/
__pycache__
mymd.egg-info
.ruff_cache/

*.dcd

.vscode/


# experimental data
OPES_100ns/
OPES_barrier_200_500ns/
slow_run/
VanillaMD_100ns/
debug/

# job output
slurm*
openmm*


pymol-pngs/
*mp4

sync_log.txt
*.h5py